<% if signed_in? %>

  <div class="row">
    <div class="span6 offset3">
      <h1>Dodaj ofertę</h1>
      <section>
        <%= render 'shared/offer_form' %>
      </section>
    </aside>
  </div>
<% end %>