<h1>Nowy Komentarz</h1>

<div class="row">
  <div class="span6 offset3">
  	<%= form_for(@comment) do |f| %>
  	 Treść komentarza:
  	 </br>
    <%= f.text_area :content %>
    <br />
     <%= f.submit "Dodaj komantarz", class: "btn btn-small btn-primary" %>
  	 <% end %>
  	
  	</div>
  	</div>


