// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tytul {
    color: #000000;
    font-family: Impact;
    font-size: 50px;
    margin: 0 0 0 0;
}
.podtytul {
    color: #FF0000;
    font-family: Impact;
    font-size: 20px;
    margin: 0 0 0 10px;
}
.offer {
    
    background-color: #EEEEEE;
    border-radius: 6px;
    
    
    margin: 10px;
    width: 715px;
    height: auto;
    
}

.photogallery {
    background: none repeat scroll 0 0 #EEEEEE;
      border-radius: 6px;
    
    font-family: Impact;
    font-size: 30px;
    text-align:center;
    
    height: auto;
    width: 200px;
    
    border-style: solid;
    border-width: 2px;
    float:right;
    
   
}

.imageContainer  img {
   height: 150px;
    width: 90%;
    border-radius: 6px;
    border-style: solid;
    border-width: 4px;
    margin: 0 0 10px 0;

}
.offerD {
  
   
    margin: 0 0 0 10px;
    width: auto;
}
.offertitle {
    font-size: 30px;
    list-style-position: outside;
    margin: 0 0 0 10px;
  
}
.offercontent {
    font-size: 10px;
    margin: 0 0 0 10px;
    width: 850px;
}
.offerphoto {
    float: left;
    margin: 0 0 0 10px;
    height: 120px;
     width: 120px;
}
.offerdetails {
    background: none repeat scroll 0 0 #EEEEEE;
   
    height: 200px;
    margin: 0 0 0 350px;
    width: 250px;
   
}



.timecomment {
  background-color: #EEEEEE;
  font-style:italic;
  font-size:11px;
  float:right;
  
}