// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tytul {
    color: #000000;
    font-family: Impact;
    font-size: 50px;
    margin: 0 0 0 0;
}
.podtytul {
    color: #FF0000;
    font-family: Impact;
    font-size: 20px;
    margin: 0 0 0 10px;
}
.offer {
    
    background-color: #EEEEEE;
    border-radius: 6px;
    clear: both;
    display: block;
    margin: 10px;
    width: 800px;
}
.offerD {
   
    clear: both;
    display: block;
    margin: 0 0 0 10px;
    width: 780px;
}
.offertitle {
    font-size: 30px;
    list-style-position: outside;
    margin: 0 0 0 10px;
}
.offercontent {
    font-size: 10px;
    margin: 0 0 0 10px;
    width: 850px;
}
.offerphoto {
    float: left;
    margin: 0 0 0 10px;
    height: 120px;
     width: 120px;
}
.offerdetails {
    background: none repeat scroll 0 0 #EEEEEE;
   
    height: 160px;
    margin: 0 0 0 350px;
    width: 250px;
}